.#{$prefix}-p-home {
  color: $purple;
  font-size: $font-14;

  h1 {
    margin-top: 20px;
  }

  .test-v-focus {
    padding: 5px;
    display: inline-block;

    &:focus {
      box-shadow: 5px 0 0 red;
    }
  }
}
